*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

ul, li, menu{
    list-style: none;
}
body{
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
}

main{
    padding: 60px 60px 30px 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-grow: 1;
}

/* 100vh flex col */
/* flex grow per prendere tutto lo spazio */

.speaker{
    position: relative;
}
.speaker img{
    max-width: 100%;
}
.user{
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    font-size: clamp(5px, 1vw, 14px);
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    row-gap: 20px;
    column-gap: 5px;
    justify-content: center;
}

.view{
    display: flex;
    gap: 10px;
    position: absolute;
    top: 5px;
    right: 5px;
}
.view__item{
    background-color: rgba(255, 255, 255, 0.4);
    font-weight: 700;
    color: white;
    padding: 3px 6px;
    border-radius: 8px;
}

/* footer */
footer{
    background-color: #222222;
    /* padding: 15px; */
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding-left: 10px;
}

.container ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}

.select-menu{
    display: flex;
    align-items: center;
    gap: 10px;
}
.col{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.button{
    padding: 30px 10px;
    color: darkred;
    font-weight: 700;
    background-color: grey;
}
.col:first-child i{
    font-size: 25px;
}
.fa-share-from-square{
    color: #4BC800;
}

.button:hover{
    color: white;
    background-color: darkred;
    transition: 400ms ease-in-out;
    cursor: pointer;
}

.container li:hover{
    cursor: pointer;
}
